---
---

@import "{{ site.theme }}";

/* Whole document: */
  body{
    font-family: 'Source Sans Pro', serif;
    padding: 2%;
    font-size: 12pt;
    max-width: 1200;
    margin: auto;
    margin-left:210px;
    margin-right:210px;
    line-height: 20px;
  }
/* Headers */
  h1{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    font-weight: bold;
}

h2,h3,h4,h5,h6{
    font-size: 18pt;
    font-family: 'Cinzel', sans-serif;
    font-weight: normal;
    font-style: normal;
}

#TOC {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
}

/* tr:nth-child(even) {background-color: #deebf6} */
